node_modules/


html/
coverage/


.expo/
dist/
web-build/
expo-env.d.ts


*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision


.metro-health-check*


npm-debug.*
yarn-debug.*
yarn-error.*


.DS_Store
*.pem


*.tsbuildinfo
.env
app-example
.env
eas.local.json
cafe-sans-fil-3368f-firebase-adminsdk-fbsvc-c7c50a5967.json
google-services.json

android/
ios/